h2{
    background-color: rgb(192, 182, 173);
}

#reset{
    color: black;
background-color: grey;
    text-decoration: none;
    margin-right: 50px;
  }
li{
    display: inline;
}
#reset:hover{
    background-color: rgb(46, 37, 37);
    color: rgb(255, 255, 255);
}